<!--The content below is only a placeholder and can be replaced.-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        
      <a  class="nav-link" routerLink="/Home" routerLinkActive="active">Inico</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/news" routerLinkActive="active">Administras noticias</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/event" routerLinkActive="active">Administrar event</a>
      
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/advertising" routerLinkActive="active">Administrar publicidad</a> 
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>




